

.App {
  color: #444444;
}

.padding-left {
  margin-left: 50px;
}

.homepage-menu {
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage-menu-item {
font-size: 5rem;
text-decoration: none;
color: #444444;

}
.walter-chinese-name {
  color: #767676;
  padding-left: 1rem;
}

.baby-yu-portrait {
 max-width: 30%;
}

.card {
  border: 0px;
}

.card-img-top {
  padding: 20px 0px;
}

.homepage-menu-item:hover,
h4:hover,
a:hover,
.nav-bar:hover,
.german-list:hover {
 color: #DA0037;
 text-decoration: none;
}

.nav-bar {
  font-size: 1.2rem;
  text-decoration: none;
  color: #767676;
}

.german-list {
  color: black;
}

.chinese-list {
  color: #767676;
}

a {
  text-decoration: none;
  color: #444444;
}

p {
font-size: 1.4rem;
color: #444444;
}

b  {
  color: #444444;
}

.solo-group-category {
  color: #8b8a8a;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}
.group-exhibitions {
  font-size: 1.3rem;
}

h1, h2, h3, h4 {
  color: #444444;
}
li {
  font-size: 1.7rem;
}

@media only screen and (max-width: 1500px) {
  .homepage-menu {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nav-bar {
    font-size: 1rem;
    text-decoration: none;
    color: #767676;
  }

  
}
@media only screen and (min-width: 800px) {
  .german-list {
    color: black;
    overflow: hidden;
  white-space: nowrap;
  }

  .chinese-list {
    color: #767676;
    overflow: hidden;
  white-space: nowrap;
  }
  
}


