
.App {
  color: #444444;
}

.padding-left {
  margin-left: 50px;
}

.modal-painting-image {
  max-width: 90%;
  max-height: 80vh;
  padding-bottom: 10%;
}

.homepage-menu {
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage-menu-item {
font-size: 5rem;
text-decoration: none;
color: #444444;
}

.nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height:100vh;
}

.navbar {
  max-height: 100vh;
  align-items: stretch;
}

.stopka {
  justify-content: space-between;
  align-items: center;
}

.btn-painting {
  width: 30%;
  min-width: 400px;
}

.navbar-item {
text-decoration: none;
color: #444444;
padding-top: 2.5rem;
}

.navbar-email {
font-size: 0.8rem;
}


.walter-chinese-name {
  color: #767676;
  padding-left: 1rem;
}

.baby-yu-portrait {
 max-width: 30%;
}

.card {
  border: 0px;
}

.work-image {
  margin-bottom: 10px;
}

.inst-icon {
max-width: 36px;
padding-right: 6px;
opacity: 0.6;
}

.scroll {
  height: 15vh;
  max-width: 70vw;
  object-fit: cover;
}


.scroll-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-scroll-image {
  max-height: 90vh;
}

.card-img-top {
  padding: 20px 0px;
  max-height: 75vh;
  max-width: 85%;
}

.homepage-menu-item:hover,
h4:hover,
h5:hover,
a:hover,
.nav-bar:hover,
.german-list:hover {
 color: #48AAAD;
 text-decoration: none;
}

#navbar-works-dropdown {
  display: none;

}

.navbar-works:hover {
  #navbar-works-dropdown {
    display: block;
    padding: 15px;
  }
}

#navbar-dropdown-fixed {
  padding: 15px;
}


.nav-bar {
  font-size: 1.2rem;
  text-decoration: none;
  color: #767676;
}

.german-list {
  color: black;
}

.chinese-list {
  color: #767676;
}

a {
  text-decoration: none;
  color: #444444;
}

p {
font-size: 1.4rem;
color: #444444;
}

b  {
  color: #444444;
}

.solo-group-category {
  color: #8b8a8a;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}
.group-exhibitions {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
  color: #444444;
}
li {
  font-size: 1.7rem;
}

@media only screen and (max-width: 576px) {
  .nav {
    display: none;
}
  
}
@media only screen and (min-width: 800px) {
  .german-list {
    color: black;
    overflow: hidden;
  white-space: nowrap;
  }

  .chinese-list {
    color: #767676;
    overflow: hidden;
  white-space: nowrap;
  }
  
}


